* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: #ffffff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}

.myntra_home{
    height: 45px;
}

.logo_container{
    margin-left: 4%;
}

.action_bar{
    margin-right: 4%;
}

.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}

.nav_bar a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 27px 0;
    border-bottom: 5px solid #ffffff;

}

#men:hover{
    border-bottom: 3px solid #f54e77;
}
#women:hover{
    border-bottom: 3px solid rgb(255, 73, 158)
}
#kids:hover{
    border-bottom: 3px solid #c21a7c;
}
#HL:hover{
    border-bottom: 3px solid #b117b6;
}
#beauty:hover{
    border-bottom: 3px solid #046eb4;
}
#studio:hover{
    border-bottom: 3px solid #240baf;
}


.nav_bar a sup{
    color: #ff3f6c;
    font-size: 10px;
}

.search_bar{
 height: 40px;
 min-width: 200px;
 width: 30%;
 display: flex;
 align-items: center;
}

.search_icon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}

.search_input{
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: none;
    border-radius: 0 4px 4px 0;
}

.action_bar{
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}

.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main Banner  */
.banner_container{
    margin: 40px 0;
}
.banner_image{
    width: 100%;
}

.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
   

.categary_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.category_items:hover{
    background-size: 12px ;
}

.footer_container{
    padding: 30px 0 40px 0;
    background-color: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
}

.footer_column h3{
   color: #282c3f;
   font-size: 14px;
   margin-bottom: 25px;

}

.footer_column a{
    display: flex;
    flex-direction: column;
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
}

.copyright{
    color: #94969f;
    text-align: end;
    padding: 15px;
}

.original_icon{
    color: #696b79;
}
